<%- include('template/head') %>

    <div class="w-2/4 text-center h-full mt-10 mx-auto mb-auto items-center">
        <h1 class="text-3xl tracking-tight text-gray-800">Something went error, we cannot find the page.</h1>
        <h2 class="text-2xl font-light text-gray-700">got back to <a href="/" class="text-blue-600 hover:text-blue-700 hover:underline">homepage</a> and get fresh start.</h2>
    </div>

<%- include('template/footer') %>