<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/tailwind.css">
    <title>Social App</title>
</head>
<body class="bg-gray-100" style="font-family: 'Inter', 'Roboto' , 'Sf Dispay' , 'Inter' , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <div class="flex flex-col h-screen">
        <!-- HEADER -->
        <header>
            <nav class="bg-gray-800 text-gray-100 flex justify-between shadow-lg py-2 items-center">
                <!-- LOGO -->
                <div class="flex font-light ml-5 text-3xl items-center">
                    <span class="mr-3">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                          </svg>
                    </span>
                     Social App
                </div>
                <!-- LOGIN -->
                <div class="flex order-last font-regular text-md mr-10">
                    <form action="/login" method="post" class="flex gap-3 mr-5">
                        <input class="input-login" type="text" name="username" id="username" placeholder="Username/email" autocomplete="off">
                        <input class="input-login" type="password" name="password" id="password" placeholder="Password" autocomplete="off">
                        <button type="submit" class="flex">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
                            </svg>
                            <div>Login</div> 
                        </button>
                    </form>
                </div>
            </nav>
        </header>
    
        <div class="w-5/6 h-full flex mt-10 mx-auto mb-auto items-center">
            <div class="flex gap-4">
                <!-- INFO -->
                <div class="text-gray-700 p-10 w-5/6">
                    <h2 class="text-4xl font-light tracking-wider uppercase mb-5">Welcome to <br><span class="font-semibold">Social App</span></h2>
                    <div class="text-sm font-regular tracking-wide text-gray-600">
                        <p>Social Media is a virtual platform of connectivity. It includes all social websites and applications that are available for the general public</p>
                        <br>
                        <p>They connect us from people across the world. We can contact anybody through Social Media platforms. These are the best way of communication, their access is very simple. The problem of reachability is resolved due to access to Social Media Platforms.</p>
                    </div>
                </div>
                <!-- REGISTER -->
                <div class="w-3/6 my-auto p-10 bg-gray-800 border border-gray-300 rounded-md shadow-lg">
                    <form action="/register" method="POST">
                        <div class="flex flex-col gap-3 w-full">
                        <input class="input-field" type="text" name="username" placeholder="Username" required autocomplete="off">
                        <input class="input-field" type="email" name="email" placeholder="you@email.com" required autocomplete="off">
                        <input class="input-field" type="password" name="password" placeholder="Your strong Password" required autocomplete="off">
                        <button class="btn bg-green-600 hover:bg-green-500 transition ease-in text-gray-100 shadow" type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
        <footer class="float-clear text-center text-gray-500 text-md p-5">
            &copy; Copyright <span class="font-light text-gray-600">kflmattukz@nosferatu</span> 2021 vegapunk.inc
        </footer>
    </div>
</body>
</html>