<%- include('template/head') %>

    <div class="w-2/4 h-full mt-5 mx-auto mb-auto items-center">
        <div>
            <div>Your Name</div>
        </div>
    </div>

<%- include('template/footer') %>