<div class="chat bg-white text-gray-700 p-2 self-start my-2 rounded-md shadow mr-3">
    apa ada yang bisa saya bantu ?
  </div>
  <div class="message bg-gray-500 text-white p-2 self-end my-2 rounded-md shadow ml-3">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, ratione!
  </div>
  <div class="message bg-gray-500 text-white p-2 self-end my-2 rounded-md shadow ml-3">
    Lorem, ipsum.
  </div>
  <div class="message bg-white text-gray-700 p-2 self-start my-2 rounded-md shadow mr-3">
    Lorem ipsum dolor sit amet.
  </div>
  <div class="message bg-gray-500 text-white p-2 self-end my-2 rounded-md shadow ml-3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, quod.
  </div>
  <div class="message bg-white text-gray-700 p-2 self-start my-2 rounded-md shadow mr-3">
    Lorem, ipsum dolor.
  </div>