</div>
<footer class="float-clear text-center -mt-12 text-gray-500 text-sm p-3 border-t border-gray-400 border-opacity-60">
    &copy; Copyright <span class="font-light text-gray-600">kflmattukz@nosferatu</span> 2021 vegapunk.inc , All right reserved.
</footer>
</div>
</body>
</html>