</div>
<footer class="text-center text-gray-600 text-sm py-3 border-t border-gray-600 border-opacity-30 mt-10">
    &copy; Copyright <span class="font-semibold text-gray-700">kflmattukz@nosferatu</span> 2021 vegapunk.inc , All right reserved.
</footer>

<script>
    const dropdown = document.querySelector('#dropdown');
    const dropdownMenu = document.querySelector('#dropdown-menu');
    dropdownMenu.addEventListener('click' , () => {
      dropdown.classList.toggle('hidden');
    });

    const flash = document.querySelector('#flash');
    const regFlash = document.getElementById('regflash');
    setTimeout(() => {
        if (flash) {
            flash.classList.toggle('hidden');
        } else {
            if (regFlash) { 
                regFlash.classList.toggle('hidden');
            }
        }
    }, 1000 * 5)

</script>

</div>
</body>
</html>