<footer class="float-clear text-center text-gray-500 text-sm p-5">
    &copy; Copyright <span class="font-light text-gray-600">kflmattukz@nosferatu</span> 2021 vegapunk.inc , All right reserved.
</footer>
</div>
</body>
</html>